<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management System</title>
    <style>
        body{
            background-color: black;
        }
        h1{
            color: blueviolet;
        }
        p{
            color: crimson;
        }
    </style>
    <script>
       
    </script>

</head>
<body>
    <div class="container">
    <h1 class="center">Welcome to Our Product Management System</h1>
    
    <p class="center">Sign In</p>
    <form method="POST" action="checksign.php" enctype="">
    Username: <input type="text" name="username" value=""><br><br>
    Password: <input type="password" name="password" value=""></br><br>
    <input type="radio" name="admin" value="Admin">
    <label for="admin">Admin</label>
    <input type="radio" name="Buyer" value="Buyer">
    <label for="buyer">Buyer</label>
    <input type="radio" name="seller" value="Seller">
    <label for="seller">Seller</label><br>   
    <input type="button" name="click" value="Click" onclick="name()" />
    <p class="center">For new user<br> Sign Up<a href="productsignup.html"></a>
   </form>
   </div>
</body>
</html>